.global-navigation-site-header {
  max-width: 1180px;
  margin: auto;
}
html {
  scrollbar-gutter: stable;
  overflow: auto;
}
html,body {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

a {
  color: $main;
  text-decoration: none;
  font-weight: 500;
}

.Header {
  height: 90px;
  background: $light;
  &__Wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__Logo {
    height: 50px;
    img {
      max-height: 100%;
    }
  }
  &__Navbar {
    display: flex;
    align-items: center;
    &__Item {
      display: inline-block;
      margin-right: 25px;
      margin-left: 25px;
    }
  }
  &__Auth {
    &__Button {
      margin-right: 7px;
      margin-left: 7px;
      padding: 8px 32px;
      border: 2px solid $main;
      border-radius: 12px;
      transition: 0.3s;
      display: inline-block;
      &:hover {
        background: $main;
        color: white;
      }
    }
  }
}

@media (max-width: 1200px) {
  .Header {
    height: auto;
    max-height: none;
    padding-top: 15px;
    padding-bottom: 15px;
    &__Navbar {
      margin-top: 10px;
      margin-bottom: 15px;
      &__Item {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .Header__Wrapper {
    flex-direction: column;
    align-items: center;
  }
}